/* button 
---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:visited {
	text-decoration: none;
}

.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}

.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

/* orange */
.orange,
.orange:visited {
	color: #ffffff;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	color: #ffffff;
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fef4e9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


/* caixa */
.caixa,
.caixa:visited {
	color: #ffffff;
	border: solid 1px #075892;
	background: #0060c0;
	background: -webkit-gradient(linear, left top, left bottom, from(#3597cc), to(#075892));
	background: -moz-linear-gradient(top, #3597cc, #075892);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3597cc', endColorstr='#075892');
}
.caixa:hover {
	color: #ffffff;
	background: #0050a0;
	background: -webkit-gradient(linear, left top, left bottom, from(#2c7da8), to(#064d7f));
	background: -moz-linear-gradient(top, #2c7da8, #064d7f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c7da8', endColorstr='#064d7f');
	}
.caixa:active { 
	color: #e0f0ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#075892), to(#3597cc));
	background: -moz-linear-gradient(top, #075892, #3597cc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#075892', endColorstr='#3597cc');
}

div.botoes {
	padding: 10px;
	margin: 2px auto;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	-ms-border-radius: .5em;
	border-radius: .5em;
	width: 750px;
	height: auto;
 	vertical-align: middle; 	
}